/نوبت اول هشتم تستی ۳۰ سؤاله.log
/نوبت اول هشتم تستی ۳۰ سؤاله.headfootlength
/نوبت اول هشتم تستی ۳۰ سؤاله.aux
/نوبت اول هشتم تستی ۳۰ سؤاله.fdb_latexmk
/نوبت اول هشتم تستی ۳۰ سؤاله.fls
/نوبت اول هشتم تستی ۳۰ سؤاله.xdv
/نوبت اول هشتم تستی ۳۰ سؤاله.synctex.gz
/__pycache__
/images
متن سؤالات امتحان نوبت دوم ریاضی ۱.odt
